/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Cabin:300,400,700);

html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
    font-family: 'Cabin', Calibri, Arial, sans-serif;
    background: #f9f9f9 url(../images/bg.jpg);
    font-weight: 300;
    font-size: 15px;
    color: #333;
    height: 100%;
}

input, select {
	font-family: 'Cabin', Calibri, Arial, sans-serif;
	font-size: 15px;
	color: #333;
}

a {
	color: #555;
	text-decoration: none;
}

.container {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.container > header,
.main {
	padding: 0 30px 50px 30px;
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}

.container > header {
	padding: 30px;
}

.container > header h1 {
	font-size: 34px;
	line-height: 38px;
	margin: 0;
	font-weight: 700;
	color: #fff;
	float: left;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.container > header h1 span {
	font-size: 18px;
	font-weight: 300;
	display: block;
}

.top-bar {
	background: linear-gradient(to bottom, #555555 0%, #444444 100%);
    height: 24px;
}

.clear-button {
	color: #fff;
	margin: 0 22px 0 0;
	cursor: pointer;
}

.day-activities-container {
	padding-top: 8px;
}

.activities {
    position: absolute;
    width: 40px;
    height: 100%;
    background: #eee;
    text-align: left;
	border-collapse: collapse;
    z-index: 10001;
}

.activities .activity {
    width: 26px;
    height: 26px;
    text-align: center;
    padding-top: 2px;
    border-radius: 100%;
    margin: 10px 0;
    cursor: pointer;
    font-size: 18px;
    background-color: #078bff;
    color: #fff;
}

.activities .activity.new {
	background-color: transparent;
	color: #078bff;
}

.fc-event-container .fc-event.activity {
    width: 26px;
    font-size: 20px;
    border-radius: 100%;
    text-align: center;
}

.droparea {
    background-color: rgba(235, 243, 251, 0.6);
    border: dashed 1px transparent;
    border-radius: 4px;
    margin: 10px auto;
    padding: 6px;
    position: absolute;
    bottom: 0;
    width: calc(100% - 20px);
    height: 30%;
    transition: background-color 0.3s;
}

.drop-active {
    border-color: #aaa;
}

.drop-target {
    background-color: #b7eeb3;
    border-color: #fff;
    border-style: solid;
}

.drag-drop {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    transition: background-color 0.3s;
}

#calendar {
    position: absolute;
}

.day-activities-container .activity {
    display: inline-block;
    margin: 0 5px;
    width: 26px;
    height: 26px;
    text-align: center;
    padding-top: 2px;
    border-radius: 100%;
    cursor: pointer;
    font-size: 18px;
    background-color: #078bff;
    color: #fff;
}

.day-diary-entry-container {
    padding-top: 0;
    top: 0;
    margin-top: 0 !important;
    margin-left: 44px;
    height: 60%;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    outline: none;
    transition: background-color 0.2s;
}

.day-diary-entry-container.expanded {
    background-color: #fff;
    z-index: 1000;
}

.file-dropzone {
    z-index: 1001;
    position: absolute;
    width: 100%;
    display: none;
}

.search-container {
	position: absolute;
	right: 0;
}

.search-container input {
	width: 100px;
}

.day {
	transition: all 0.4s ease-in-out;
}

.day.highlight {
	background-color: rgba(255,255,255,0.6);
	border-radius: 20px;
}

.hallotoolbar {
	z-index: 100000;
}

.day-modal .text-entry {
	text-align: left;
	margin: 20px 0;
	padding: 8px;
	border: 1px dashed #666;
	border-radius: 10px;
	background-color: #f5f5f5;
	outline: none;
}

.day-modal .day-activities-container {
	margin-bottom: 12px;
	text-align: left;
}

.day-modal .actors {
	float: right;
	margin: 8px;
}

.category-label {
	display: inline-block;
	overflow: hidden;
	width: 1.5em;
    line-height: 1.5;
}

.category-label-inner {
	display: inline-block;
	white-space: nowrap;
	transform: translate(0,100%) rotate(-90deg);
	transform-origin: 0 0;
}

.category-label-inner:after {
	content: "";
	float: left;
	margin-top: 100%;
}

.day.fc-today {
	box-shadow: inset 0 0 100px rgba(223, 243, 255, 0.7) !important;
}

.activity-tooltip-content {
	display: none;
}

.activity-tooltip-content .header {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 12px;
}

.activity-tooltip-content .field {
	margin: 4px;
}

.activity-tooltip-content .field input {
	width: 200px;
}

.spinner-icon {
	font-size: 16px;
	margin: 4px;
	display: none;
}

.icon-button {
	font-size: 16px;
	margin: 4px;
	cursor: pointer;
}

.icon-button.green {
	color: rgb(42, 139, 61);
}

.icon-button.red {
	color: rgb(193, 88, 88);
}

.select-icon {
	width: 400px;
	margin-top: 8px;
	margin-left: auto;
	margin-right: auto;
	padding: 4px 0 8px 0;
	cursor: pointer;
    transition: color 0.25s;
	background-color: #ddd;
	border-radius: 8px 8px 0 0;
}

.select-icon:hover {
	color: #078bff;
}

.icon-sample {
	width: 26px;
    height: 26px;
    text-align: center;
    padding-top: 4px;
    border-radius: 100%;
    margin: 10px 0;
    cursor: pointer;
    font-size: 18px;
    background-color: #078bff;
    color: #fff;
}

.icon-container {
	display: none;
	width: 400px;
	max-height: 200px;
	margin: auto;
	overflow: scroll;
	overflow-x: hidden;
	background-color: #eee;
	border-radius: 0 0 8px 8px;
}

.icon-container i {
	font-size: 20px;
    margin: 4px;
    cursor: pointer;
    transition: color 0.25s;
    width: 24px;
}

.icon-container i:hover {
	color: #078bff;
}

.color-table {
	display: none;
}

.color-box {
	width: 40px;
	height: 30px;
	cursor: pointer;
	transition: border 0.1s;
}

.color-box:hover {
	border: 4px solid #eee;
}

.select-color {
	width: 400px;
	margin-top: 8px;
	margin-left: auto;
	margin-right: auto;
	padding: 4px 0 8px 0;
	cursor: pointer;
    transition: color 0.25s;
	background-color: #ddd;
	border-radius: 8px 8px 0 0;
}

.select-color:hover {
	color: #078bff;
}
